body {
    margin: 0;
    background-color: grey;
    display: flex;
}

.menuLeft {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
}

.menuRight {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
}

.menuRightBot {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 30px;
    right: 10px;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
}

#step {
    background-color: gray;
    color: white;
    align-items: center;
    flex-direction: column;
}
.menuLeftBot {
    position: absolute;
    bottom: 30px;
    left: 10px;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
}
.menu input {
    width: 50px;
}

.coordinates {
    display: flex;
    flex-direction: row;
}
.coord {
    width: 50px;
}
.gap {
    height:30px;
}

.simulation-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.simulation {
    width: 800px;
    height: 800px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unclickable {
    pointer-events: none;
    color: white;
    background-color: gray;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

/* Style for the graph modal container */
.graph-container {
    z-index: 500;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 700px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

/* Style for the button to close the graph modal */
#closeGraphButton {
    position: relative;
    height: 20px;
    width: 90px;
}

/* Style for the container holding the checkboxes */
.checkbox-container {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    position:absolute;
    margin-right:500;
}


#dataChart {
    z-index: 1000;
    width: 600px;
    height: 500px; /* You can adjust this as needed */
}
#buttonsSide {
    z-index: 5000;
    position: absolute;
    left:900px;
    top:200px;
    width: 400px;
    display: flex;
    flex-direction: column;
}